﻿<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>
        
    <link rel="stylesheet" href="~/Resources/Style/Bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Resources/Style/Bootstrap/ie10-viewport-bug-workaround.css" />
    
    @if (IsSectionDefined("HeaderAdditions")) {
      @RenderSection("HeaderAdditions", required: false);
    }
    
    <link rel="stylesheet" type="text/css" href="~/Resources/Style/KeithsResume.css" />
  </head>
  <body> 
    @KeithsResume.Helpers.Misc.GetGoogleAnalyticsScript()   

    <div class="container-fluid nameHeader">      
      <span class="firstName">@Model.FirstName</span>
      <span class="lastName">@Model.LastName</span>      
    </div>

    <nav class="navbar navbar-default">      
      <div class="container-fluid menuMargin">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>          
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">            
            @KeithsResume.Helpers.Navigation.NavItem("Resume", "/Resume")
            @KeithsResume.Helpers.Navigation.NavItem("Portfolio", "/Portfolio")
          </ul>
        </div>        
      </div>
    </nav>   
       
    <div class="container">
      @RenderBody()
    </div>

    <script src="~/Resources/Script/jquery.js"></script>
    <script src="~/Resources/Script/bootstrap.js"></script>

    @if (IsSectionDefined("FooterAdditions")) {
      @RenderSection("FooterAdditions", required: false);
    }
  </body>
</html>