﻿<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@Page.Title</title>

    <link rel="stylesheet" href="~/Resources/Style/Bootstrap/Themes/slate.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Resources/Style/KeithsResume.css" />    

    @if (IsSectionDefined("HeaderAdditions")) {
      @RenderSection("HeaderAdditions", required: false);
    }
  </head>
  <body>
    @KeithsResume.Helpers.Misc.GetGoogleAnalyticsScript()

    @RenderBody()

    <script src="~/Resources/Script/jquery.js"></script>
    <script src="~/Resources/Script/bootstrap.js"></script>    
  </body>
</html>
