﻿<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Resources/Style/KeithsResume.css" />
    @if (IsSectionDefined("HeaderAdditions")) {
      @RenderSection("HeaderAdditions", required: false);
    }
  </head>
  <body>
    <div class="page">
      <header>
        <div class="header-top-row">
          <div class="container">
            <div >
              <span class="firstName">Keith</span>
              <span class="lastName">Hamilton</span>
            </div>
          </div>
        </div>
        <div class="menuNav">
          <div class="container">
            <nav class="nav">
              <ul class="kr-menu">
                <li class="active">
                  <a href="~/Profile">Profile</a>
                </li>
                <li>
                  <a href="~/Resume">Resume</a>
                </li>
                <li>
                  <a href="~/Portfolio">Portfolio</a>
                </li>
                <li>
                  <a href="~/Connect">Connect</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <main>        
        <div class="container">
          <div class="mainContainer">
            @RenderBody()            
          </div>
        </div>
      </main>
    </div>
  </body>
</html>