﻿
@{
    ViewBag.Title = "Connect";
    Layout = "~/Views/Shared/_ResumeLayout.cshtml";
}

<h2>Connect</h2>
<div id="contactDetails">
  <ul>
    <li>e: <a href="mailto:keith@keithsresume.com" target="_blank">keith@keithsresume.com</a></li>
    <li>w: <a href="http://www.keithsresume.com">www.keithsresume.com</a></li>
    <li>m: (916) 527-4136</li>
  </ul>
</div>
