﻿
@{
    ViewBag.Title = "Keith's Resume - Profile";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@section HeaderAdditions {
  <link rel="stylesheet" type="text/css" href="~/Resources/Style/Home.css" />
}

<div class="nameRibbonContainer">
  <div class="nameContainer">
    <div>
      <span class="firstName">@Model.FirstName</span>
      <span class="lastName">@Model.LastName</span>
    </div>
    <div class="buttonContainer">
      <div>
        <a href="~/Resume" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Resume</a>&nbsp;&nbsp;
        <a href="~/Portfolio" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Portfolio</a>
      </div>
    </div>
  </div>
</div>