﻿@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

@section HeaderAdditions {
  <link rel="stylesheet" type="text/css" href="~/Resources/Style/Portfolio.css" />
}

@foreach (var xPortItem in Model.PortfolioItems) {
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">@xPortItem.ProjectName</h3>
          <div class="linkContainer">
            @KeithsResume.Helpers.Navigation.PortfolioNavItem(xPortItem)            
          </div>
        </div>
        <div class="panel-body">
          <p>@xPortItem.Description</p>
          <div>
            <span class="techUsed">Technologies Utilized</span>
            <ul>
              @foreach (var xSkillItem in xPortItem.Skills) {
                <li>@xSkillItem.SkillName</li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
}