﻿
@{
    ViewBag.Title = "Keith's Resume - Profile";
    Layout = "~/Views/Shared/_ResumeLayout.cshtml";
}





<span>@Model.Profile.FirstName @Model.Profile.LastName</span>
<span>@Model.Profile.City, @Model.Profile.State</span>
<span>@Model.Profile.Email</span>

