﻿@{
    ViewBag.Title = "Resume";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

@section HeaderAdditions {
  <link rel="stylesheet" type="text/css" href="~/Resources/Style/Resume.css" />
}

<ul class="nav nav-tabs">
  @for (int i = 0; i < Model.Resumes.Count; i++) {
    if (i > 0) {
      <li><a data-toggle="tab" href="#@i">@Model.Resumes[i].Title</a></li>
    } else {
      <li class="active"><a data-toggle="tab" href="#@i">@Model.Resumes[i].Title</a></li>
    }
  } 
</ul>
<div class="tab-content">  
  @for (int z = 0; z < Model.Resumes.Count; z++) {
    var tabClass = z > 0 ? "tab-pane" : "tab-pane active";

    <div class="@tabClass" id="@z">
      <div class="row">
        <div class="col-md-8">         
          <h2>Professional Experience</h2>                   
          <hr />

          @foreach (var xExp in Model.Resumes[z].Experiences) {
            <div>
              <div class="experienceDuration">@xExp.Duration</div>
              <div class="experienceTitle">@xExp.JobTitle</div>
            </div>
            <div>
              @KeithsResume.Helpers.Resume.ExperienceListItems(xExp.JobExperiences)
            </div>
          }
        </div>

        <div class="col-md-4 ">          
          @foreach (var xSG in Model.Resumes[z].SkillGroups) {
            <h2>@xSG.Name</h2>
            <hr />
            <div class="skillsContainer">
              <ul>
                @foreach (var xS in xSG.Skills) {
                  <li>
                    <span class="skillName">@xS.SkillName</span>

                    @if (xSG.ShowCompetency) {
                      <span class="skillCompetency">@xS.Competency</span>
                    }
                  </li>
                }
              </ul>
            </div>
          }

          @if (Model.Resumes[z].Files.Count > 0 && 
               KeithsResume.Models.ResumeFile.AllVisible(Model.Resumes[z].Files)) {
            <h2>Resume Downloads</h2>
            <hr />
            <div class="skillsContainer">
              <ul>
                @foreach (var xResumeFile in Model.Resumes[z].Files) {
                  if (xResumeFile.Visible) {
                    <li>
                      <a target="_blank" href="/Download.ashx?resumeFileId=@xResumeFile.ResumeFileID&resumeId=@Model.Resumes[z].ResumeID">@xResumeFile.Title</a>
                    </li>
                  }
                }
              </ul>
            </div>
          }
        </div>

        <div class="col-md-8">
          <h2>Education</h2>
          <hr />
          @foreach (var xEdu in Model.Resumes[z].Schooling) {
            <div class="experienceItem">
              <div>
                <div class="experienceDuration">@xEdu.Duration</div>
                <div class="experienceTitle">@xEdu.SchoolTitle</div>
              </div>
              <div>
                <span>@xEdu.Location</span>
              </div>
            </div>
          }
        </div>
      </div>     
    </div>
  } 
</div>