﻿html,
body {
  height: 100%;
}

.firstName {
  font-size: 103px;
  line-height: 95px;
}

.lastName {
  font-size: 30px;
  margin-left: 12px;
}

.buttonContainer {
  padding-top: 11px;
  margin-left: auto;
  margin-right: auto;    
  display: block; 
  text-align: center; 
}

.nameRibbonContainer {
  width: 100%;
  height: 270px;
  background-color: black;
  top: 50%;
  position: fixed;
  margin-top: -125px;
}

.nameContainer {
  top: 50%;
  left: 50%;  
  position: relative;
  width: 350px;
  height: 125px;
  margin-top: -99.5px;
  margin-left: -175px;
  text-align:center;
}