﻿.menuMargin {
  margin-left: -11px;
}

.nameHeader {
  background-color: #333;
  padding-bottom:15px;
  font: 400 15px/15px "Raleway",sans-serif; 
}

.firstName {
  color: white;
  text-transform: uppercase;
  font-size: 52px;
  line-height: 68px;
  font-weight: 900;  
  display:block;
}

.lastName {
  color: #808080;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 26px;  
  margin-left:3px  
}